<div class="container py-2">
  <h2>All my quackies</h2>
</div>

  <div class="cards">
    <% @bookings.each do |booking| %>
        <div class="duck-link card-category flex-column" style="background-image: linear-gradient(rgba(140, 204, 224, 0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path booking.duck.photo.key, crop: :fill %>)">
          <h4><%= link_to booking.duck.name, duck_path(booking.duck), class: "duck-link" %></h4>
          <% if booking.status == "reqaked"%>
            <%# <div class="cards-container"> %>
            <div class ="confirm">
              <%= link_to image_tag("https://res.cloudinary.com/dbgvo56a1/image/upload/v1661509111/reqaked_wk5jtb.png", class: "duck-link", border: 0, width: 100)%>
            </div>
          <% elsif booking.status == "Qaking confirmed" %>
            <div class ="confirm">
              <%= link_to image_tag("https://res.cloudinary.com/dbgvo56a1/image/upload/v1661509111/qacking_confirmed_mtc50i.png", class: "duck-link", border: 0, width: 100)%>
            </div>
          <% elsif booking.status == "Qaking rejected" %>
            <div class ="confirm">
              <%= link_to image_tag("https://res.cloudinary.com/dbgvo56a1/image/upload/v1661509111/qaking_rejected_zubav2.png", class: "duck-link", border: 0, width: 100)%>
            </div>
          <% end %>
            <%# </div> %>
        </div>
    <% end %>
  </div>
