<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="duck-link bg-white rounded p-3 shadow">
        <h3>Qack your duck</h3>
        <h1><%= @duck.name %></h1>
        <%= simple_form_for [@duck, @booking] do |f| %>
          <%= f.input :start_date, as: :string, type: :text, input_html: {id: "range_start"}%>
          <%= f.input :end_date, as: :string, type: :text, input_html: {id: "range_end"}%>
          <%= f.input :comment %>
          <%= f.submit class: 'duck-link btn btn-outline-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>`
