<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Upload your duck</h3>
        <%= simple_form_for @duck do |f| %>
          <%= f.input :name, placeholder: 'Filippo' %>
          <%= f.input :category, placeholder: 'Coding' %>
          <%= f.input :description, placeholder: 'Great listener and always there for you! ❤️'%>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: 'duck-link btn btn-outline-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
