<div class="container py-2"><h2>All my duckies</h2> </div>

<div class="cards">

  <% @my_ducks.each do |my_duck| %>
    <%= link_to duck_path(my_duck) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(140, 204, 224, 0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path my_duck.photo.key, crop: :fill %>)">
        <h4><%=my_duck.name%><h4>
        <% my_duck.bookings.each do |duck|%>
          <% if duck.status == "reqaked"%>
            <div class="cards-container">
              <div class ="duck-link confirm">
                <%= link_to image_tag("https://res.cloudinary.com/dbgvo56a1/image/upload/v1661508650/confirm_iumyel.png", border: 0, width: 100), my_ducks_path, data: { turbo_method: :confirm_booking, turbo_confirm: "Are you sure you want to qack this duck?" }%>
              </div>
              <div class ="duck-link reject">
                <%= link_to image_tag("https://res.cloudinary.com/dbgvo56a1/image/upload/v1661508650/reject_btyivg.png", border: 0, width: 100), my_ducks_path, data: { turbo_method: :reject_booking, turbo_confirm: "Are you sure you want to reject the qacking this duck?" }%>
              </div>
            </div>
          <% else %>
            <div class="cards-norm"></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
